<div class="container">
  <div class="row">
    <div class="col-10">
      <h2 class="text-primary">Post</h2>
      <h3>{{ myPost.title }}</h3>
      <p>{{ myPost.body }}</p>
    </div>
  </div>
  <div *ngIf="comments.length; then listComments else noComments"></div>
  <ng-template #listComments>
    <div class="row">
      <div class="col-10">
        <h1 class="display-4" style="font-size: 33px">List of comments <span
            class="badge badge-secondary">{{ comments.length }} Comments</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <ul class="list-group list-group-flush" *ngFor="let comment of comments">
          <li class="list-group-item">
            <span class="text-primary font-weight-bolder">{{ comment.name }}</span>
            <br> {{ comment.body }}
            <br> <span class="badge badge-dark">{{ comment.email }}</span>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template #noComments>
    <div class="alert alert-warning">
      0 comment
    </div>
  </ng-template>
</div>